header {
    padding: 2em 0 .5em;
}

.menu {
    text-transform: uppercase;
}

.menu a {
    padding: .4em .8em;
    margin-left: .2em;
    font-size: .9em;
    border-radius: .25em;
}

.menu a:hover,
.menu a.selected {
    background: steelblue;
    color: #fff;
}

.title {
    font-size: 1.8em;
    font-weight: 700;
    margin-bottom: .5em;
}

.subtitle {
    font-size: 1.3em;
    font-weight: 700;
    margin-bottom: .5em;

}

footer {
    background: #0c0c0c;
    color: #fff;
    text-align: center;
    padding: 1.5em 0;
}

.social img {
    width: 2em;
    margin-right: .5em;
}

.logo {
    width: 6em;
}